h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
}

/* Mobile */

@media (max-width: 375px) {
}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
  /* Section menu */

  .container {
    width: 100%;
  }

  .menu-container {
    width: 100%;
    height: 380px;
  }

  .menu {
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    background: rgb(255, 255, 255);
  }

  .menu-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 10px;
  }

  .menu-icon-title {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
  }

  .menu-title-hero {
    color: rgb(0, 0, 0);
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .menu-subtitle {
    color: rgb(131, 131, 131);
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-align: left;
    padding-top: 12px;
  }

  .menu-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
  }

  .menu-item:hover,
  .menu-item:focus {
    border-radius: 10px;
    background: rgb(89, 50, 234);
    width: 100%;
    height: 35px;
  }

  .menu-item {
    display: flex;
    align-items: center;
  }

  .menu-item-title {
    margin-left: 10px;
    color: rgb(145, 151, 179);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.023m;
    text-align: left;
  }

  .menu-item-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke-width: 0;
    stroke: currentColor;
    fill: rgb(145, 151, 179);
  }

  .menu-item-icon-arrow {
    margin-left: auto;
    padding-right: 15px;
    fill: rgb(145, 151, 179);
  }

  .menu-user {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }

  .menu-user-title {
    color: rgb(0, 0, 0);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .menu-user-subtitle {
    color: rgb(117, 117, 117);
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1%;
    text-align: left;
  }

  .menu-user-img {
    position: absolute;
    width: 40px;
    left: -45px;
  }

  /* Section hero */

  .hero-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .hero-box {
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    background: rgb(255, 255, 255);
  }

  .hero-title {
    margin-left: 10px;
    color: rgb(0, 0, 0);
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }

  .hero-info {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .hero-info-title {
    color: rgb(0, 0, 0);
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .hero-info-subtitle {
    color: rgb(22, 192, 152);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .hero-search {
    position: absolute;
    left: 220px;
    top: 50px;
  }

  .hero-search-input {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background: rgb(249, 251, 255);
    border: none;
  }

  .hero-search-label {
    position: relative;
    display: flex;
    align-items: center;
  }

  input::placeholder {
    color: rgb(181, 183, 192);
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    padding-left: 40px;
  }

  .hero-search-icon {
    position: absolute;
    left: 10px;
    fill: rgb(126, 126, 126);
  }

  .hero-table {
    display: inline-table;
    flex-direction: column;
    margin-top: 12px;
    width: 100%;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {
    border: 1px solid rgb(238, 238, 238);
  }

  .hero-list-subtitle-title {
    color: rgb(181, 183, 192);
    font-family: "Poppins";
    font-size: 7px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-left: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .hero-list-subtitle {
    color: rgb(41, 45, 50);
    font-family: "Poppins";
    font-size: 7px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
    border-right: none;
    border-left: none;
  }

  .hero-list-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .hero-footer-text {
    color: rgb(181, 183, 192);
    font-family: "Poppins";
    font-size: 7px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .hero-scroll {
    width: 150px;
  }

  .hero-scroll-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .scroll-arrow {
    width: 25px;
    height: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scroll-icone {
    fill: rgb(64, 75, 82);
    width: 8px;
    height: 8px;
  }

  .scroll-active {
    box-sizing: border-box;
    border: none;
    width: 25px;
    height: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(64, 75, 82);
    background-color: rgb(245, 245, 245);
    font-family: "Poppins";
    font-size: 8px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

/* Tablet */

@media screen and (min-width: 768.95px) and (max-width: 1438.98px) {
  /* Section menu */

  .container {
    width: 100%;
  }
  .menu {
  }
  .menu-title {
  }
  .menu-title {
  }
  .menu-icon-title {
  }
  .menu-subtitle {
  }
  .menu-item {
  }
  .menu-list {
  }
  .menu-item-title {
  }
  .menu-item-icon {
  }
  .menu-item-icon-arrow {
  }
  .menu-user {
  }
  .menu-user-title {
  }
  .menu-user-subtitle {
  }
  .menu-user-img {
  }

  /* Section hero */

  .hero-box {
  }
  .hero-title {
  }
  .hero-info {
  }
  .hero-info-title {
  }
  .hero-info-subtitle {
  }
  .hero-search {
  }
  .hero-search-icon {
  }
  .hero-search-text {
  }
  .hero-list {
  }
  .hero-list-subtitle {
  }
  .hero-line-span {
  }
  .hero-list-footer {
  }
}

/* Desktop */

@media screen and (min-width: 1440px) {
  /* Section menu */

  .container {
    width: 100%;
  }
  .menu {
  }
  .menu-title {
  }
  .menu-title {
  }
  .menu-icon-title {
  }
  .menu-subtitle {
  }
  .menu-item {
  }
  .menu-list {
  }
  .menu-item-title {
  }
  .menu-item-icon {
  }
  .menu-item-icon-arrow {
  }
  .menu-user {
  }
  .menu-user-title {
  }
  .menu-user-subtitle {
  }
  .menu-user-img {
  }

  /* Section hero */

  .hero-box {
  }
  .hero-title {
  }
  .hero-info {
  }
  .hero-info-title {
  }
  .hero-info-subtitle {
  }
  .hero-search {
  }
  .hero-search-icon {
  }
  .hero-search-text {
  }
  .hero-list {
  }
  .hero-list-subtitle {
  }
  .hero-line-span {
  }
  .hero-list-footer {
  }
}
